<body class="fondo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#333333" fill-opacity="1" d="M0,128L60,117.3C120,107,240,85,360,112C480,139,600,213,720,234.7C840,256,960,224,1080,202.7C1200,181,1320,171,1380,165.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>
    <div class="divs colorTexto">
        <img class="imagen " src="https://cdn.pixabay.com/photo/2018/01/04/15/51/404-error-3060993_960_720.png" alt="No se encontro la imagen">
        <br><br>
            <span class="mayuscula">Error 404: </span>La URL <span class="sub">{{URLactual}}</span>
            <br>
            no se pudo encontrar.
            <br><br>
        <button mat-raised-button (click)="atras()">Volver atrás</button>
    </div>    
</body>

            